<div class='loginPage' layout='row' layout-align='center center'>
  <md-whiteframe class='md-whiteframe-5dp loginform' layout='column' layout-align='center center' flex-gt-md='35' flex-md='60' flex-sm='80' flex-xs='90'>
    <div layout='column' layout-align='center center'>
      <img class="login-image" src="assets/keep.png">
      <form name='forgotPasswordForm' class='form'>
        <md-input-container class='md-block login-input'>
          <label>Please enter your email address to search for your account</label>
          <md-icon md-svg-src="bower_components/material-design-icons/action/svg/production/ic_account_circle_24px.svg" class="name"></md-icon>
          <input type="email" name='email' ng-model='forgot.email' ng-required="true" ng-pattern='/^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$/'>
          <div ng-messages="loginForm.email.$error" ng-show='loginForm.email.$invalid && loginForm.email.$touched'>
            <div ng-message="required" ng-show='loginForm.email.$error.required'>
              Email field is Required.
            </div>
            <div ng-message="pattern" ng-show='loginForm.email.$error.pattern'>
              Invalid Email address.
            </div>
          </div>
        </md-input-container>
        <md-button class="md-raised md-accent" style='width:100%' ng-disabled='loginForm.$invalid' ng-click="forgotPassword()">Search</md-button>
      </form>
    </div>
  </md-whiteframe>
</div>
