<md-sidenav id='sidebar' class="md-sidenav-left" md-component-id="left" md-disable-backdrop>
  <md-content layout-margin>
    <md-list>
    <md-list-item ng-click="null">
      <div layout="row">
        <md-icon md-svg-icon="assets/notes.svg"></md-icon>
        <p>Notes</p>
      </div>
    </md-list-item>
    <md-list-item ng-click="null">
      <div layout="row">
        <md-icon md-svg-icon="assets/reminders.svg"></md-icon>
        <p>Reminders</p>
      </div>
    </md-list-item>
    <md-divider></md-divider>
    <md-subheader class="md-no-sticky">Labels</md-subheader>
    <md-list-item ng-click="null">
      <div layout="row">
        <md-icon md-svg-icon="bower_components/material-design-icons/content/svg/production/ic_add_24px.svg"></md-icon>
        <p>Create new label</p>
      </div>
    </md-list-item>
    <md-divider></md-divider>
    <md-list-item ng-click="null">
      <div layout="row">
        <md-icon md-svg-icon="bower_components/material-design-icons/content/svg/production/ic_archive_24px.svg"></md-icon>
        <p>Archive</p>
      </div>
    </md-list-item>
    <md-list-item ng-click="null">
      <div layout="row">
        <md-icon md-svg-icon="assets/trash.svg"></md-icon>
        <p>Trash</p>
      </div>
    </md-list-item>
    <md-divider></md-divider>
    </md-list>
  </md-content>
</md-sidenav>
